.message {
  color: #666;
  font-size: 16;
  padding: 20;
}

button {
  background-color: #6494AA;
  padding: 10;
  margin: 6 20;
  font-size: 14;
  border-radius: 6;
}

.button {
  color: #ffffff;
}

.button-a {
  background-color: #90A959;
}

.button-b {
  background-color: #E0A458;
}

.button-c {
  background-color: #FF6600;
}